@import url('https://fonts.googleapis.com/css2?family=Shizuru&display=swap');

body {
  font-family: 'Shizuru', Arial, Helvetica, sans-serif;
  background-color: rgb(255, 232, 236);
}

#btn {
  background-Color: black;
  color: rgb(255, 213, 220);
  font-size: 2rem;
  border: none;
  padding: .5em 1em;
  border-radius: .5em;
  margin: 0 auto;
  display: block;
}

#btn:hover {
  cursor: pointer;
  font-size: 2.2rem;
}